html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}



.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; 
	top: 0; 
	width: 100%; 
  }

nav ul {
	justify-content: center;
	display:flex;
	flex-direction: row;
	align-content: space-between
}

nav li {
	margin: 10px 10px; 
	padding:  0px 60px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	
}
nav li a {
	text-decoration: none;
	color:white;
}
.services-header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 60px;
    
}
.services {
    margin-top:20px;
    margin-left: 160px;
    width: 1200px;
}
section {
    border: 2px solid;
    width: 400px;
    margin: 100px;
    height: 200px;
    padding: 20px;
}

.firstarticle {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1200px;
    border-top: 2px solid;
    margin-left: 160px;
    border-bottom: 2px solid;
}

.first {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
   
    
    
}
.second {
    width: 1200px;
    display: flex;
    justify-content: space-between;

    
}
.third {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;

    
}
.bottom {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-left: 160px;
    
}
.facts {
    padding-right: 60px;

}
.facts p {
    margin-bottom: 10px;
}
.facts li {
    list-style-type: disc;
    margin-left: 20px;
}
footer {
    text-align: center;
}